@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

.body{
    background-color: #d1d1d1;
}

#title{
    padding-top: 1.0rem;
    font-family: 'Italianno', cursive;
    font-size: 5.0rem;
    color: #ff7089;
}

.is-link{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: #ff7089;
    font-family: 'Italianno', cursive;
    font-size: 2.5rem;
}

.dropdown-item{
    padding-left: 2rem;
    color: #ff7089;
    font-family: 'Oxygen', sans-serif;
    font-size: 1rem;
}

.is-child{
    border: 2px solid #ff7089;
}

.menu{
    background-color: white;
    border: 2px solid #ff7089;
}

.dropwdown-content{
    background-color: white;
    border: 2px solid #ff7089;
}

.category-button{
    padding-top: 2.0rem;
}

.button{
    margin-left: 2rem;
    margin-right: 2rem;
    color: #ff7089;
    border: 2px solid #ff7089;
}

.tile{
    padding-left: 1.0rem;
    padding-right: 1.0rem;
}

.is-child{
    border: 2px solid #ff7089;
}

.menu{
    background-color: white;
    border: 2px solid #ff7089;
}

.subtitle{
    font-family: 'Oxygen', sans-serif;
    font-size: 2.0rem;
    
}

.main-subtitle{
    font-family: 'Italianno', cursive;
    font-size: 3.0rem;
}

.sub-subtitle{
    font-family: 'Oxygen', sans-serif;
    font-size: 1.5rem;
}

.pagination-link{
    margin-left: 1rem;
    margin-right: 1rem;
    color: #ff7089;
    border: 2px solid #ff7089;
}

a:visited{
    color: black;
}

a:link{
    color: black;
}

.cart-listing{
    margin: auto;
    width: 30%;
}