@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

.columns{
    padding-top: 1.5rem;
}

#logo{
    padding-left: 5rem;
}

.is-link{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: #ff7089;
    font-family: 'Italianno', cursive;
    font-size: 2.5rem;
}

#title{
    padding-top: 1.0rem;
    font-family: 'Italianno', cursive;
    font-size: 5.0rem;
    color: #ff7089;
}

.subtitle{
    font-family: 'Oxygen', sans-serif;
    font-size: 2.0rem;
    color: #ff7089;
}

.main-subtitle{
    font-family: 'Italianno', cursive;
    font-size: 3.0rem;
    color: #ff7089;
}

.sub-subtitle{
    font-family: 'Oxygen', sans-serif;
    font-size: 1.5rem;
    color: #ff7089;
}

.body{
    background-color: #d1d1d1;
}

.tile{
    padding-left: 1.0rem;
    padding-right: 1.0rem;
}

.property-image{
    width: 80rem;
    height: 25rem;
    border: 2px solid #ff7089;
}

.dropdown-item{
    padding-left: 2rem;
    color: #ff7089;
    font-family: 'Oxygen', sans-serif;
    font-size: 1rem;
}